<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
       <div class="container-fluid bg-1 text-center">
          <h3>Contacts List </h3>
          <a href="/contacts/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add a Contact</a>
          <br>
          <table class="table table-bordered table-striped table-hover">
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Number</th>
              <th class="text-center">Email</th>
              <th class="text-center"></th>
              <th class="text-center"></th>
            </tr>
            <!-- Template Row -->
            <% for (let count = 0; count < contacts.length; count++) { %>
            <tr>
              <td class="text-center"><%= contacts[count].name %></td>
              <td class="text-center"><%= contacts[count].number %></td>
              <td class="text-center"><%= contacts[count].email %></td>
              <td class="text-center">
              <a href="/contacts/<%= contacts[count]._id %>" class="btn btn-primary">
              <i class="fa fa-pencil-square-o"></i> Edit</a>
               </td>
              <td class="text-center">
              <a href="/contacts/delete/<%= contacts[count]._id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i> Delete</a>
              </td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>